.header {
  width: 100vw;
}

.navBarMainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navBarLogo {
  margin: 2rem 0 2rem 0;
}

.navBarLine {
  background-color: #123650;
  height: 0.2rem;
  width: 100%;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 2rem 0 2rem 0;
}

.navBar li {
  padding: 0 4rem;
  cursor: pointer;
  color: #123650;
}
