.mainWrapper {
  background-color: #123650;
  width: 100%;
}

.showContent {
  display: none;
}
.test {
  background-color: white;
  margin: 0 15vw;
  min-height: 100vh;
}
.btnScroll {
  width: 5vw;
  height: 5vh;
  color: #123650;
}
